.custom-btn {
  background: #E1E8FF;
  border: none;
  color: #4C6FFF;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

small {
  color: #4C6FFF;
  margin: 0 10px;
}

span {
  font-size: 12px;
  color: #425466;
}