@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter',
    sans-serif;
  background: #f1f1f1;
}

// navbar
.navbar-toggler {
  border: none;

  &:focus {
    border: none;
    box-shadow: none;
  }
}

// btn-primary
.btn-primary {
  background: #4C6FFF;
  color: white;
  padding: 12px 24px;
  border: 0;
  border-radius: 8px;
  width: 100%;
  font-size: 14px;
  line-height: 23px;
}

// btn-secondary
.btn-secondary {
  background: #fff;
  color: #4C6FFF;
  padding: 12px 24px;
  border: 1px solid #4C6FFF;
  border-radius: 8px;
  width: 100%;
  font-size: 14px;
  line-height: 23px;
  transition: all 0.2 ease-in;
  &:hover {
    background: #fff;
    color: #1841e7;
    border: 1px solid #4C6FFF;
  }
}

.product-img {
  border-radius: 8px;
}