body {
  margin: 0;
  padding: 0;
}

.header {
  height: 58px;
  width: 100%;
  background: #eaeaea;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

h1 {
  margin: 0;
}