.header {
  box-shadow: 6px 5px 10px 0 rgb(0 0 0 / 10%);

  &__logo {
    img {
      height: 50px;
    }

    .company {
      font-weight: bold;
      margin-left: 5px;
    }
  }

  &__link {
    margin-right: 20px;
    color: #262624;
    text-decoration: none;
    &:hover {
      color: #4C6FFF;
    }
  }
}